# Ignore Python virtual environments
venv/
.venv/
.venv310/
*.pyc
__pycache__/

# VS Code workspace
.vscode/

# MacOS
.DS_Store

# Streamlit cache
.streamlit/cache/

# Testing and reports
.pytest_cache/
reports/
figures/

# Temporary files
*.log
