[safe]
	directory = /opt/calb/prod/CALB_SIZINGTOOL
	directory = /opt/calb/test/CALB_SIZINGTOOL
	directory = /opt/calb/prod/CALB_SIZINGTOOL
	directory = /opt/calb/test/CALB_SIZINGTOOL
[credential]
	helper = store
[user]
	email = copilot@github.com
	name = GitHub Copilot CLI
